<ul class="nav flex-column">
    <li class="nav-item">
        <button type="button" class="btn btn-outline-secondary btn-block mb-2"><a href="/expense">Submit expense</a></button>
    </li>
    <li class="nav-item">
        <button type="button" class="btn btn-outline-secondary btn-block mb-2 mt-2"><a href="/calc-1">Calculate fairShare</a></button>
    </li>
    <li class="nav-item">
        <button type="button" class="btn btn-outline-secondary btn-block mb-2 mt-2"><a href="/">View statistics</a></button>
    </li>
    <li class="nav-item">
        <button type="button" class="btn btn-outline-secondary btn-block mb-2 mt-2"><a href="/user">Register user</a></button>
    </li>
</ul>