{% extends "/layouts/master.twig" %}

{% block headline %}
    <div class="card">
        <div class="card-header">
            <h2>FairShare result</h2>
            <div class="text-muted">Calculate fairShare: Step 4/4</div>
        </div>
    </div>
{% endblock %}


{% block content %}



{% endblock %}